<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="pp-login-form__field">
    <div class="pp-label pp-login-form__label">{{'LOGIN_FORM.USERNAME' | translate}}</div>
    <input class="pp-textbox pp-login-form__input" type="text" formControlName="username">
  </div>
  <div class="pp-login-form__field">
    <div class="pp-label pp-login-form__label">{{'LOGIN_FORM.PASSWORD' | translate}}</div>
    <input class="pp-textbox pp-login-form__input" type="password" formControlName="password">
  </div>
  <input class="pp-btn pp-login-form__submit" type="button" value="{{'LOGIN_FORM.SUBMIT' | translate}}">
</form>
