//Параметры шрифта
$pp-font-family: Arial, Helvetica;
$pp-font-size: 11px;

$pp-mac-font-family: Lucida Grande;
$pp-mac-font-size: 10px;

$pp-nix-font-family: Arial, sans-serif;
$pp-nix-font-size: 8pt;

//Цвета
$pp-main-color: #fff;

$pp-panel-color: #f3f3f3;

$pp-border-color: #e0e0e0;
$pp-border-color_dark: #aeaeae;

$pp-btn-background-color: #fff;
