.pp-logo {
  &__image {
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('/assets/auth/login-page/logo.png');
    height: 96px;
    width: 250px;
  }

  &__version {
    text-align: right;
  }
}
